@import './doc';
@import './notate';
@import './mail';
// @import './web';
@import './demo/case';
@import './demo/law';


aside {
  border:none;
  background:hsla(255,100%,100%,0.99);

  * { margin:0;padding:0;border:none }

  table {  width:100%;
           border:0; 
         }           
  th {     vertical-align:top; }

  p {      max-width:99%; } 
  ul, ol { margin:1px 0;padding:1px 0; }
  ul {     list-style-type:none; } 

}

.focusd figure {
  float:left;
  display:block;
  box-sizing:content-box;
  margin:10px 1% 3px 0.5%;
  z-index:1;
  position:relative;

  > blockquote > table {
    th { border:none!important;background-color:hsla(0,0%,50%,0.1) }
    tr { background-color:hsla(0,0%,50%,0.02);
         border-top:1px dotted hsla(0,0%,50%,0.3); }
    tr:nth-child(2n) { background-color:hsla(0,0%,50%,0.03); }
  }
}


.wdwrapd {
  white-space: -webkit-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap; // pre|pre-line|normal;
  word-wrap: break-word; // break-all
  word-break: break-word; 
}


/*
.set>ul {
  table th, table td {           padding:2px 5px;text-align:left  }
  > li { 
    &.n {             display:none }
    ul, ol { font-family:sans-serif; } }
  hr {                 margin:10px 0;border-top:1px solid #eeeeee; }
  img {                max-width:100%;background-color:rgb(248, 248, 248);margin:1px; }
  blockquote {         background:none;padding:4px 0 4px 12px;font-size:0.93em;line-height:1.25em;opacity:0.9 
    p {     padding:2px 0 1px 0 } }
   p {                  padding:3px 0 2px 0 }
.set li ul ul > li {           list-style-type:disc;padding-left:5px; }
.set li ul > li > ul > li {    list-style:none;margin-left:5px; }
.set li ul {                   margin:3px 0 8px 10px }
.set li ol {                   margin:3px 0 8px 20px }
.set li ol > li {              list-style:decimal;padding-left:5px }
.set li ol > li > ol {         margin:6px 8px 6px 0 }
.set li ol > li > ol > li {    list-style:lower-roman;padding:1px 1px 1px 4px;font-size:0.95em }

th>figure, th>ol { margin:0;padding:15px; }
th>figure { font-size:0.75em;font-weight:normal;font-family:courier;text-align:justify;letter-spacing:-0.05em;
         background:#f8f8f8;color:gray;line-height:1.5em; }
th>figure mark, th>ol li a { color:black;padding:0;letter-spacing:0px }
th>figure mark > sup { font-weight:bold;font-size:11px;color:#232323;background:rgb(155,155,155,0.5);
  border:2px solid #f8f8f8;border-radius:50%;padding:2px 5px;margin:-.15em -4px 0 -3px;
    text-align:center;vertical-align:middle;display:inline-block;
    height:1.85em; }
th>figure mark > sup > i { font-size:0.9em;font-weight:normal;font-style:normal }
th>ol { font-weight:normal;text-align:left;padding-right:0 }
th>ol li { font-size:0.9em; }
th>ol li > a { font-weight:bold;font-size:0.9em!important;font-family:courier;letter-spacing:-1px;padding:2px 4px }
*/


