.focusd + .mail {
  font-size:12px;
  font-family:courier;
  background:hsl(30,50%,85%,10%);
  color:hsl(30,50%,10%,95%);
  border-top:dashed 2px hsl(30,50%,40%,70%);
  /*border-bottom:solid 2px hsl(30,50%,85%,100%);*/
}
