.focusd .mail {
  margin-left:14px;
  padding:0px 2px 4px 2px;
  width:466px;
  border-top:solid 1px hsla(30,20%,90%);
  // background:hsla(30,50%,90%,.2);
  background:hsla(30,50%,90%,.1);
  font:normal 12px courier;

  > header {
    width:466px;    
    padding:0px 4px 0px 16px;
    // border:solid 1px green;
    tt { padding-top:1px;
      color:hsl(0,0%,35%);
      font:small-caps bold 0.95em/1em monospace } 
    b, time, cite { color:#888;
      font:small-caps normal 0.9em/1em courier }
    > b { margin-right:0.4em; }
    > time { margin:.3em 0.35em 0 -2px;
      float:right;
      letter-spacing:-.09em }
    > cite { display:block;
      margin-left:-16px;
      padding-top:3px;
      max-width:200px;
      height:1.2em;
      overflow:hidden;
      font-family:arial;
      white-space:nowrap;
      text-overflow:ellipsis }
    > svg { display:block;
      position:absolute;
      z-index:3;
      left:1px;
      top:1px;
      padding:1px;
      width:13px;
      height:12px;
      border:solid 1px #ddd;
      border-top:none; 
      background:#eee center / cover no-repeat url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADESURBVEhL7dK7DcIwFIXhSDRQUdFBzwyINWALdoBxeIgW5kCUNAwA4tHRwH8ku7HsKI5N5yN9jeN7E+XeqiRXRtjhZewxRpao+Q1fxx1DJEdf7ja3tkjOG77m8kRy/v4CDdTXXNZIjrZFA3Wba/BZhqxokzRQ/ZIHNsjWvCSYDqZYYqADJzpbYQLdbZweFrjCbswFM/SNuTmzz3VXNV3URptxhi2MdULtdh3hK4xxQDAf+IpiqEcwvoI2gvFdbqOkaarqB+bGkzy4fpegAAAAAElFTkSuQmCC') } }
  svg+tt { 
    font-size:1.05em;
    display:block; }
  
  &.swap {
    width:480px;
    margin-left:0px;
    margin-top:20px;
    border-top:solid 2px hsla(30,10%,85%);
    border-top:solid 1px black;
    border:none;
    header { width:480px; }
    header cite { color:black;
      max-width:inherit;
      font:normal bold 1.15em/1em arial } }


  &:first-child { margin-top:2px; }
  &:last-child { border-bottom:solid 1px hsla(30,20%,95%) }

 
  section { 
    padding:5px 2px 0 14px;
    color:hsl(30,50%,14%);
    font:1.5em 1em sans-serif;

    a > img { opacity:.99;margin:10px }
    a:hover > img { opacity:1 }

    // em { font-size:0.95em;color:#78909c; }
  
    img { margin:1px;
      max-width:100%;
      background-color:rgb(248, 248, 248) }

    ins, ins > * { 
      font:italic normal 0.9em/0.9em inherit;
      color:#69b32d;text-decoration:none }
    ins { > strong {                 color:red }
      > em {                     color:#ff7f2f }
      > i {                      color:#752f8a }
      > b {                      color:#002664 } }

    hr { margin:10px 0;border-top:1px solid #eee }


    table th, 
    table td { padding:2px 5px;text-align:left }
    > table {
      tr { font-size:.95em;padding:1px 3px }
      td { font-size:.9em;padding:1px 4px } }
    
    > ul { margin:3px 0 8px 10px;
      ul > li { padding-left:5px;
        list-style-type:disc }
      li > ul > li { margin-left:5px;
        list-style:none }}
    > ol { margin:3px 0 8px 20px;
      > li { padding-left:5px;
        list-style:decimal;
        > ol { margin:6px 8px 6px 0;
          > li { padding:1px 1px 1px 4px;
            list-style:lower-roman;
            font-size:0.95em }}}}


/*
> blockquote > blockquote > ul {   width:104%;height:180px;overflow:hidden;display:table;   table-layout:fixed;margin:-5px 0 0 -30px;padding:6px 1px 
  // > li { display:inline;width:auto;display:table-cell;padding:0px 4px }
   > li img { width:100% } } */

  /* blockquote { padding:4px 0 4px 12px;font-size:0.93em;line-height:1.25em;opacity:0.9 
     p { padding:2px 0 1px 0 } }
     p { padding:3px 0 2px 0 } */

blockquote {
  background:none;
  > h3 { display:block;
    padding:5px 0 0px 15px;
    margin:7px 1px 3px 0px;
    border-top:solid 1px #f0f0f0;
    color:#777;
    font:small-caps bold 1em/1em monospace; 
    letter-spacing:-0.7px;
    u { font-weight:normal;text-decoration:none }
    em { display:block;font-style:normal;color:inherit; } }
  > p { padding-left:15px;font-size:.9em }}

p { margin:6px 0 6px 0 } }} 


/* attchments */
.set { 
  dl { padding:3px;color:#752f8a }
  dt { text-align:right;font:normal 11px courier;
    span:before { padding-top:2px;display:inline-block;
      font:normal 12px/20px inherit;padding-right:5px; }}
  dd { 
    figure { 
    color:#752f8a;
    font-size:12px;
    padding:5px 2px 7px 2px;
    img { max-width:23%; }
  //   font-style:normal;margin:-22px -2px 15px 8px;padding:5px 15px 0px 15px } 
    > img { max-width:100%; }
    > b { display:inline-block;
      margin:0 0 0 14px;
      padding:0;
      letter-spacing:-.2px;
      font:normal bold 13px/11px }}
    figure.pdf { .fdoc }}}

// p { font-family:sans-serif; }
// > p { font-size:14px;margin:0;padding:3px 0 4px 0; }
// > p:last-child { padding-bottom:1px }




